body{
	background: #696969;
}
.wrapper{
	max-width: 980px;
	margin: 20px auto 0;
	background-color:  #fff;
	padding:  20px 0;
	border-radius: 5px;
}
h1{
	color: #666;
	margin: 10px 0;
}
p.helperInfo{
	margin-top:  5px;
}

/******* SIGNATURE PAD*********/
#signaturePad{
	width:  100%
	height: 200px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
	border-radius: 4px;
}
#signaturePad canvas{
	width: 100%;
	height: 200px;
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.sigBtns{
	margin:  10px 0 0 0;
}